@using Listjj.Infrastructure.Enums
@using Listjj.Infrastructure.ViewModels
@using ListjjFrontEnd.Services.Abstract

<tr id="@Item.Id" class="@(Item.IsEditing ? "table-secondary" : "")" hidden="@Item.IsEditing" @ondblclick="() => Item.IsEditing = !Item.IsEditing">
        <td>
            @Item.Value
        </td>
        <td title="Created: @Item.Created, Changed: @Item.Modified">
            @Item.Name<br />
            @Item.Description
            <TagsInput Tags="Item.Tags" ReadOnly="true"/>
            @if (Item?.Files?.Count > 0)
                {
                    <div class="mt-3 no-border">
                        <span class="font-weight-bold">Files:</span>
                        <ul class="ml-3" style="overflow: visible;width:140%;">
                            @foreach (var file in Item.Files)
                            {
                                <li>
                                    <span>file.Name</span>
                                    <a class="link-primary" @onclick="() => GetFile(file)">@file.Name</a> @(file.Size/1000) KB
                                </li>
                            }
                        </ul>
                    </div>
                }
        </td>
        <td>
            @Item.Category.Name
        </td>
        <td>
            <input type="checkbox" checked="@Item.Active" @onchange="() => ClickActive(Item)">
        </td>
        <td>
        <button class="btn btn-outline-danger icon-button p-1 m-1 align-top" @onclick="() => DeleteItem(Item)" title="Delete"><i class="far fa-trash-alt"></i></button>
        <button class="btn btn-outline-primary icon-button p-1 m-1 align-top hide-on-mobile" @onclick="() => ShowEdit(Item)" title="Edit"><i class="far fa-edit"></i></button>
            @if (ShowMoveButtons && appState.RecentCategoryId != Guid.Empty)
            {
            <div class="d-inline-block row p-0 m-1 pl-1 no-border">
                    <div class="col-12 m-0 p-0">
                    <button class="btn btn-sm btn-outline-dark icon-button p-1 narrow-btn" @onclick="@(() => MoveItem(Item, MoveDirection.Up))" title="Move up"><i class="fa-solid fa-angles-up"></i></button>
                    </div>
                    <div class="col-12 m-0 p-0">
                    <button class="btn btn-sm btn-outline-dark icon-button p-1 narrow-btn" @onclick="@(() => MoveItem(Item, MoveDirection.Down))" title="Move down"><i class="fa-solid fa-angles-down"></i></button>
                    </div>
                </div>
            }
        </td>
    </tr>

    @if (Item.IsEditing)
    {
        <tr class="table-secondary" @ondblclick="() => Item.IsEditing = !Item.IsEditing">
        <td class="p-0">
            <input for="Value" class="form-controll no-border p-0" size="1" @bind="@Item.Value" />
            </td>
        <td class="p-0">
            <input style="width: 100%; max-width: 100%;" for="Name" class="form-controll no-border mb-1 p-0" @bind="@Item.Name" /><br />
                <textarea style="width: 100%; height: 100%; max-width: 100%;" class="form-controll no-border" @bind="@Item.Description" />
                <CascadingValue Value="@TagsSelection">
                    <TagsInput Tags="Item.Tags" />
                </CascadingValue>
            <div class="mt-2 no-border p-0">
                    <FileUpload ItemVm="Item" OnFileUpload="RefreshItem">
                        <FilesRows>
                            @if (Item?.Files?.Count > 0)
                            {
                            <div class="mt-3 p-0">
                                    <ul class="ml-3" style="overflow: visible;width:200%;">
                                        @foreach (var file in Item.Files)
                                        {
                                            <li>
                                                <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteFile(file)" title="Delete">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                                <a class="link-primary" @onclick="() => GetFile(file)">@file.Name</a> @(file.Size/1000) KB
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </FilesRows>
                    </FileUpload>
                </div>
            </td>
        <td class="p-0">
            <select @bind="@Item.CategoryId" class="no-border p-0 short-select">
                    <option>---select---</option>
                    @if (CategoriesVm != null)
                    {
                        @foreach (var category in CategoriesVm)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            </td>
        <td class="p-0">
            <input type="checkbox" for="active" class="form-controll no-border p-0" @bind="@Item.Active" />
            </td>
        <td class="p-0">
                <button class="btn btn-outline-primary icon-button p-1 m-1" @onclick="() => EditItem(Item)" title="Save"><i class="far fa-save"></i></button>
                <button class="btn btn-outline-secondary icon-button p-1 m-1" @onclick="() => ShowEdit(Item)" title="Cancel"><i class="far fa-window-close"></i></button>
            </td>
        </tr>
    }

@code {
    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] public IItemService ItemsService { get; set; }
    [Inject] public IFileService FileService { get; set; }
    [Inject] public ICategoryService? CategoryService { get; set; }
    [Parameter] public ListItemViewModel Item { get; set; }
    [Parameter] public List<CategoryViewModel> CategoriesVm { get; set; }
    [Parameter] public EventCallback UpdateList { get; set; }
    [CascadingParameter] public List<string> TagsSelection { get; set; }
    [Parameter] public bool ShowMoveButtons { get; set; }
    [Inject] protected Data.AppState? appState { get; set; }

    private async Task EditItem(ListItemViewModel itemVm)
    {
        Item.Modified = DateTime.Now;
        if (Item.CategoryId != Item.Category.Id)
        {
            var changedCategoryVm = await CategoryService.GetById(Item.CategoryId);
            Item.Category = changedCategoryVm;
        }
        await ItemsService.AddorUpdateItem(Item);
        await JSRuntime.InvokeAsync<bool>("notify", $"Updated {Item.Name}");
        Item.IsEditing = false;
        await UpdateList.InvokeAsync();
    }

    private void ShowEdit(ListItemViewModel itemVm)
    {
        itemVm.IsEditing = !itemVm.IsEditing;
    }

    private async Task GetFile(FileSimpleViewModel fileSimpleVm)
    {
        var file = await FileService.GetFile(fileSimpleVm.Id);
        var bytes = Convert.FromBase64String(file.B64Bytes);
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", fileSimpleVm.Name, "application/octet-stream", bytes);
    }

    private async Task DeleteFile(FileSimpleViewModel fileVm)
    {
        bool isConfirmed = await JSRuntime.InvokeAsync<bool>("swalConfirm", $"Are you sure, that you want to delete File {fileVm.Name} ?");
        if (!isConfirmed)
        {
            return;
        }
        if(await FileService.DeleteFile(fileVm.Id))
        {
            Item.Files.Remove(fileVm);
        }
    }

    private async Task MoveItem(ListItemViewModel itemVm, MoveDirection direction)
    {

        var isSaved = await ItemsService.Move(itemVm, direction);
        if(!isSaved)
        {
            return;
        }
        await JSRuntime.InvokeAsync<String>("blink", itemVm.Id, 1);
        await UpdateList.InvokeAsync(); 
        await JSRuntime.InvokeAsync<String>("blink", itemVm.Id, 2);
    }

    private async Task DeleteItem(ListItemViewModel itemVm)
    {
        var item = await ItemsService.GetById(itemVm.Id);
        await ItemsService.DeleteItem(itemVm.Id);
        await UpdateList.InvokeAsync();
        await JSRuntime.InvokeAsync<bool>("notify", $"Deleted {itemVm.Name}");
    }

    private async Task ClickActive(ListItemViewModel itemVm)
    {
        itemVm.Active = !itemVm.Active;
        await ItemsService.AddorUpdateItem(itemVm);
    }

    private async Task RefreshItem()
    {
        Item = await ItemsService.GetById(Item.Id);
    }

}