@using Listjj.Infrastructure.ViewModels
@namespace Listjj_frontend.Pages.Components
@inherits PageBase

<EditForm Model="@Item" OnValidSubmit="HandleValidSubmit">
    <!-- The button disables implicit form submissoon -->
    <button disabled style="display: none;"></button>

    <div class="form-group addFormBackground">
        <div class="container-fluid pt-1">
            <div class="row">
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel" for="new-value">Value: </label>
                    <input id="new-value" @bind="@Item.Value" type="number" class="form-controll" style="width: 50px;">
                </div>
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel" for="new-name">Name: </label>
                    <input id="new-name" @bind="@Item.Name" type="text" class="form-controll" style="width: 70%; height: 100%;">
                </div>
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel align-top" for="new-dsc">Description: </label>
                    <textarea id="new-dsc" class="form-controll" @bind="@Item.Description" style="width: 70%; height: 100%;"/>
                </div>
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel" for="new-category">Category:</label>
                    <select class="addBox" id="new-category" @bind="@RecentCategoryId">
                        <option value="00000000-0000-0000-0000-000000000000">---select---</option>
                        @if (Categories is null)
                        {
                            <option>
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </option>
                        }
                        else
                        {
                            @foreach (var category in Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel" for="new-active">Active: </label>
                    <input id="new-active" type="checkbox" @bind="@Item.Active" class="form-controll">
                </div>
                <div class="form-group col-12 addDiv">
                    <TagsInput Tags="Item.Tags" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary m-3" value="Save">Save</button>
    </div>
</EditForm>

@code {
    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Parameter] public EventCallback UpdateList { get; set; }
    [Parameter] new public List<CategoryViewModel> Categories { get; set; }
    [Parameter] public ListItemViewModel Item { get; set; } = new ListItemViewModel();
    private Guid recentCategoryId;
    [Parameter] public Guid RecentCategoryId
    {
        get => recentCategoryId;
        set
        {
            if (recentCategoryId == value) return;
            recentCategoryId = value;
            Item.CategoryId = value;
            RecentCategoryIdChanged.InvokeAsync(value);
        }

    }
    [Parameter] public EventCallback<Guid> RecentCategoryIdChanged { get; set; }

    protected async Task HandleValidSubmit()
    {
        if (!appState.IsLoggedIn)
        {
            await JSRuntime.InvokeAsync<object>("alert", "Please login first.");
            return;
        }
        var category = await CategoryService.GetById(Item.CategoryId);
        if(category is null) {
            if (Categories.Any()) {
                Item.CategoryId = Categories[0].Id;
            }
            else {
                CategoryViewModel defaultCat = new CategoryViewModel();
                defaultCat.Id = Guid.NewGuid();
                defaultCat.Name = "default";
                defaultCat.UserId = appState.UserId;
                await CategoryService.AddorUpdateCategory(defaultCat);
                category = await CategoryService.GetById(defaultCat.Id);
                Item.CategoryId = category.Id;
            }
        }
        Item.UserId = appState.UserId;
        Item.Created = Item.Modified = DateTime.Now;
        Items = await ItemService.GetAllByUserId(appState.UserId);
        Item.SequenceNumber = Items.Count > 0 ? Items.Max(i => i.SequenceNumber) + 1 : 1;
        await ItemService.AddorUpdateItem(Item);
        await JSRuntime.InvokeAsync<bool>("notify", $"Added {Item.Name}");
        await UpdateList.InvokeAsync();
        Item = new ListItemViewModel();
        Item.CategoryId = RecentCategoryId;
        StateHasChanged();
    }

}